* {
    margin : 0;
    padding: 0;
}

body {
    font-family: nanumbarungothic, malgun gothic, dotum, sans-serif;
}

html,
body {
    overflow: hidden;
}

#app {
    position  : absolute;
    top       : 0;
    right     : 0;
    bottom    : 0;
    left      : 0;
    overflow  : auto;
    min-width : 480px;
    min-height: 320px;
}

#app header,
#app footer {
    position        : fixed;
    cursor          : default;
    user-select     : none;
    box-shadow      : 0 0 5px rgba(0, 0, 0, .24);
    background-color: rgba(255, 255, 255, .75);
    text-shadow     : 0 0 5px #fff, 0 0 2px #fff, 0 0 1px #fff;
}

#app header {
    top   : 0;
    right : 0;
    left  : 0;
    height: 50px;
}

#app footer {
    height: 30px;
    right : 0;
    bottom: 0;
    left  : 0;
}

#app main {
    padding: 60px 10px 40px;
}

#app header h1 {
    padding    : 7px 0;
    font-size  : 24px;
    line-height: 1.5;
    text-align : center;
}

#app header del {
    font-size  : 18px;
    font-weight: normal;
    font-style : italic;
    color      : #d00;
}

#app header h1>span {
    font-size  : 14px;
    font-weight: 400;
}

#app header del span {
    color: #999;
}

#app footer address {
    display    : block;
    padding    : 6px 0;
    font-style : normal;
    font-size  : 12px;
    line-height: 1.5;
    text-align : center;
}

#drag-file {
    display         : block;
    margin          : 16px auto 0;
    clear           : both;
    background-color: #369;
    color           : #fff;
    text-align      : center;
    width           : 100%;
    height          : 250px;
    line-height     : 250px;
    transition      : background-color .5s ease;
    cursor          : pointer;
}

#drag-file:hover {
    background-color: #000;
}

.input-group {
    padding: 4px;
}

.input-group::after {
    content    : "";
    display    : table;
    clear      : both;
    overflow   : hidden;
    width      : 100%;
    height     : 0;
    font-size  : 0;
    line-height: 0;
}

.input-column {
    float     : left;
    width     : 50%;
    padding   : 4px;
    box-sizing: border-box;
}

.input-column span {
    user-select: none;
}

.input-column input {
    display         : block;
    width           : 100%;
    padding         : 4px;
    border          : 1px solid #ddd;
    box-sizing      : border-box;
    outline         : none;
    font-size       : 16px;
    background-color: #eee;
}

.input-column input:focus {
    box-shadow      : 0 0 0 2px #336699;
    background-color: #fff;
}

#split {
    text-align: right;
}

#html-console {
    margin          : 16px auto 0;
    overflow        : auto;
    max-width       : 100%;
    white-space     : pre-line;
    word-break      : break-all;
    word-wrap       : break-word;
    font-family     : Courier New, Courier, monospace, sans-serif;
    font-size       : 14px;
    line-height     : 1.6;
    color           : #ccc;
    background-color: #000;
}

#html-console.busy {
    position: fixed;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    margin  : 0;
}

#html-console>div {
    margin    : 4px;
    border-top: 1px dotted #ccc;
}

#html-console>div:first-child {
    border-top-width: 0;
}

#html-console .info {
    color: #0f0;
}

#html-console .warn {
    color: #f00;
}

#message-queue {
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
    width           : 100%;
    padding         : 4px;
    background-color: #000;
    color           : #fff;
    font-size       : 24px;
    box-sizing      : border-box;
    opacity         : 0;
    user-select     : none;
    cursor          : default;
    text-align      : center;
}

#message-queue.visible {
    opacity: 1;
}